.widget_uka_program{
	font-size: 14px;
}

.widget_uka_program .widget-title{
    /*font-size: 18px;*/
    font-weight: bold;
}

.widget_uka_program .spacer{
	padding: 0 0.25em;
}

.widget_uka_program a{
	text-decoration: underline;
}

.widget_uka_program .widget-row{
	padding: 0.5em;
	width: auto;
    display: flex;
    align-items: center;
}

.widget_uka_program .widget-row:nth-child(odd){
	background-color: rgba(0,0,0,0.05);
}
