section.widget_uka_program_day{
}

section.widget_uka_program_day .uka-program-day-container{
    /*margin: 2em 0;*/
    /* height: 73vh; */
    display: inline-block;
}


table.uka-program-day{
	border-collapse: collapse;
	display: inline-block;
	vertical-align: top;
	table-layout: auto;
}

table.uka-program-day tbody.uka-day{
	box-shadow: 0px 0px 1em 0em rgba(0, 0, 0, 0.1);
}

table.uka-program-day th{
	font-weight: inherit;
}

#uka-program-day-spacer{
	width: 100%;
	display: inline-block;
}


.widget_uka_program_day{
	font-size: 1em;
}

.uka-program-day-header{
    font-weight: lighter;
    font-weight: 100;
}

.uka-program-day .spacer{
	padding: 0 0.25em;
}

.uka-program-day a{
	text-decoration: underline;
}

.uka-program-day-row{
	padding: 0.5em;
	width: auto;
	background-color: #ffd530;
	color: #161617;
}



.uka-day .uka-program-day-row:nth-child(even){
	background-color: #fcb841;
}


.uka-program-day-day{
	width: 100%;
	border-collapse: collapse;
}

table.uka-program-day td,
table.uka-program-day th{
	padding: 0.5em 0.5em;
	white-space: nowrap;
}

.uka-program-day .uka-program-day-daytheme-title{
	text-align: left;
	float: left;
}

.uka-program-day .uka-program-day-daytheme-date{
	text-align: right;
	float: right;
}

.uka-program-day-daytheme-day{
	display: none;
}

.event-location{
	display: none;
	text-align: center;
}

.event-time{
}

.event-ticket{
	margin-left: 1em;
}

.uka-program-day .event-title{
	white-space: normal;
}

@media screen and (min-width: 600px){
	.event-location{
		display: table-cell;
	}
	.uka-program-day-daytheme-day{
		display: inline;
	}
}

@media screen and (max-width: 600px){
	.uka-program-day .event-title {
		width: 100%;
	}
}





