.widget_instagram .size150{
	height: 150px;
	width: 150px;
}

.widget_instagram .size100{
	height: 100px;
	width: 100px;
}

.widget_instagram .size75{
	height: 75px;
	width: 75px;
}

.widget_instagram .size50{
	height: 50px;
	width: 50px;
}

.widget_instagram a.widget-item{
	margin: 1em;
}

.widget_instagram .widget-row:first-child a{
	margin-top: 0;
}

.widget_instagram .widget-row:last-child a{
	margin-bottom: 0;
}

.widget_instagram a.widget-item:first-child{
	margin-left: 0;
}
.widget_instagram a.widget-item:last-child{
	margin-right:0;
}



/*
.widget-instagram-container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
}
*/

.widget-instagram-container a{
	background-color: black;
}

.instagram-image{
}
.instagram-image:hover{
	opacity: 0.75;
}






