
#countdown{
	text-align: center;
	font-size: 3em;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.87);
	line-height: 1em;
	background-color: #171716;
    color: white;
    padding: 0.25em;
}